**
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.build.json
!packages/
!packages/core/
!packages/core/src/
!packages/core/src/**
!scripts/
!scripts/**
!schemas/
!schemas/**
!starters/
!starters/**
!recipes/
!recipes/**
!data/
!data/**
**/.env
**/.env.*
!**/.env.example
